# Database Configuration
DATABASE_URL=

# External API Configuration
EXTERNAL_API_URL="https://qa-api-internal.onesiam.com/spwdirectoryservice/v1/Directories/Icon/TenantMalls"
X_APIG_APPCODE="your-api-key-here"
EXTERNAL_API_COOKIES="your-cookies-here"

# Sync Configuration
SYNC_BATCH_SIZE=10
NODE_ENV= 